    body, html {
  height: 100%;
}

.mySlide {display:none}

div.transbox {
  margin: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60); 
}

div.transbox p {
  padding-top:  2%;
  padding-bottom: 2%;
  margin: 2%;
  color: black;
  color: #000000;
}

.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.bgimg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("images/site.jpg");
  min-height: 100%;
}

#Eat {
  background-image: url("images/gfgfgfgfgf.jpg");
}

#Drinks
{
  background-image: url("images/y457gegtggfsgsdgs.jpg");
}

.menu {
  display: none;

}

div.promotionscard {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  float:left;
  margin-right: 15px;
}

div.container {
  text-align: center;
}

.fon{
 background-image: url("images/fon1.jpg");
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;

}

* {
  font-family: 'Didact Gothic', sans-serif;
  margin:0;
  padding:0;
  list-style: none;
  text-decoration: none;
}
